.dropdown {
  color: #bcbbbb;
  width: 150px;
  text-align: center;

  .dropdownheader {
    width: 100%;
    padding: 10px;
    background: #ffffff;
    cursor: pointer;
    font-size: 14px;
    height: 40px;

    &--set {
      @extend .dropdown;
      border-radius: 0 50px 50px 0;
    }
    &--type {
      @extend .dropdown;
      border-right: 3px solid #dfdfdf;
    }
    &--rarity {
      @extend .dropdown;
      border-right: 3px solid #dfdfdf;
    }
  }

  .dropdownlist {
    background: #ffffff;
    box-sizing: border-box;
    width: 150px;
    z-index: 6;

    &:first-child {
      padding-top: 0.8em;
    }

    .listitem {
      cursor: pointer;
      list-style: none;
      padding-bottom: 0.8em;
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 0) and (max-width: 768px) {
  .dropdown {
    width: 30%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);

    .dropdownheader {
      height: auto;
      border: none;
      border-radius: 50px;
      width: 100%;
    }

    .dropdownlist {
      position: fixed;
      width: 100%;
    }
  }
}
