.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: auto;
  width: 100vw;

  .reset {
    margin: 0 auto 50px auto;
  }

  .cards {
    display: grid;
    position: relative;
    height: 100%;
    grid-template-columns: 250px 250px;
    grid-template-rows: auto;
    row-gap: 10px;
    column-gap: 75px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;

    .error {
      grid-column-end: span 3;
      text-align: center;
      margin: 100px;
    }
  }

  .loadmore {
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    cursor: pointer;

    svg {
      height: 24px;
      width: 24px;
    }

    .text {
      color: #6a6969;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      padding-left: 10px;
    }
  }

  .badge {
    position: sticky;
    bottom: 5%;
    z-index: 4;
    margin: auto;

    .viewcart {
      background-color: #298bfd;
      color: white;
      font-weight: 500;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      padding: 10px 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      cursor: pointer;
    }

    svg {
      height: 24px;
      width: 24px;
    }

    .text {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      padding-left: 10px;
    }
  }
}

@media screen and (min-width: 0) and (max-width: 480px) {
  .home {
    .cards {
      grid-template-columns: 250px;
    }

    .badge {
      bottom: 10px;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .home {
    .cards {
      grid-template-columns: 250px 250px;

      column-gap: 20px;
    }
  }
}

@media screen and(min-width: 769px) {
  .home {
    .cards {
      grid-template-columns: 250px 250px 250px;
    }
  }
}
