.searchbar {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 50px;

  .input {
    color: #bcbbbb;
    text-align: center;
    input {
      color: #bcbbbb;
      width: 100%;
      text-align: center;
      border: 0;
      border-right: 3px solid #dfdfdf;
      border-radius: 50px 0 0 50px;
      padding: 10px;
      font-size: 14px;
      height: 40px;
      outline: none;

      &::placeholder {
        color: #bcbbbb;
      }
    }
  }

  .dropdowncontainer {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 0) and (max-width: 768px) {
  .searchbar {
    flex-direction: column;
    width: 90%;
    margin: 50px auto;
    .input {
      input {
        border: none;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
        border-radius: 100px;
        width: 100%;
      }
    }
  }

  .dropdowncontainer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
