.navbar {
  width: 100vw;
  height: 75px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text {
    height: 75px;
    width: 150px;
    position: relative;
    top: 60%;
    z-index: 3;
  }

  .logo {
    z-index: 2;

    .circle {
      background-color: #ffffff;
      height: 75px;
      width: 75px;
      display: flex;
      align-content: center;
      justify-content: center;
      border-radius: 100%;

      svg {
        height: 50px;
        width: 50px;
        margin: auto;
      }
    }
  }
}
